body{
  font-family:Franklin Gothic Medium;
  font-size:110%;
  background-color: #205024f6;
}

#heading{
    background-color:rgb(83, 60, 29);
    color:white;
}
#sidebar{
    color:white;
    background-color: rgb(61, 100, 58);
    width: 200px;
}

header {
  text-align: center;

}

footer {
    color:white;
  background-color:rgb(83, 60, 29);
  text-align: center;
}
h3{
    color:white;
    text-align: center;
    background-color: rgb(83, 60, 29);

}
article{
    background-color: rgb(227, 240, 226);
}
