h1{
    font-family: Verdanaans-serif;
    font-size: 60px;
    text-shadow: 0 0 5px black;
    color:white;
}
h2{
    font-family:"Gentium Book Plus", serif;
    text-shadow: 0 0 5px green, 0 0 3px red;
    color:white; 
}
body{
    max-width: 500px;
}
.para1{
    font-family:"Gentium Book Plus", serif;
}

.font-effect-fire{
    font-family:Audiowide, serif ;
    text-shadow: 0 0 3px rgb(243, 0, 0), 0 0 6px rgb(56, 56, 194);
    font-size: 16x;
}
#click:link, #click:visited{
    color:green;
    text-decoration: none;
    border: 2px solid green;
    padding:10px;
    
    
}
#click:hover, #click:active{
    color: black;
    background-color: green;
    font-size:115%;
}

#return:link, #return:visited{
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    padding: 10px;
    border-radius:5px;
  
}
#return:hover, #return:active{
    background-color: blue;
    color:white;
    font-size:110%;
    font-family: monospace;
}
ul{
    background-color:blue;
    padding:20px;
}
li{
    background-color:rgb(110, 185, 255);
    margin:2px;
}
#table1, #table1 td, #table1 th{
border:1px solid;
border-collapse: collapse;
}
#table1{
    width: 100%; /*tabele spans across the fullscreen at 100%*/
}

#table1 th{
    height:50px;
}
#table1 td{
    text-align: center;
    }
#table1 tr:nth-child(even){
    background-color: brown;
}
#table2, #table2 td, #table2 th{
    border:1px solid;
    border-collapse: collapse;
    }
    #table2{
        width: 500px; /*tabele spans across the fullscreen at 100%*/
    }
#table2 td, #table2 th{
    padding: 15px;
}

    
    #table2 th{
        height: 30px;
        vertical-align: top;
        background-color: rgb(137, 137, 182);
    }
    #table2 td{
        height:10px;

    }

#table2 td:hover{ /*per cell -- excludes the th*/
    background-color: rgb(138, 43, 226,0.5);
}
.container{
    overflow-x:auto;
}
