body{
    max-width: 500px;
    z-index:-1;
    position:relative;

}
h1{
    font-size:26px;

}

table{
    width: 100%;
caption-side: bottom;

}

table, th,td{
    border: 1px solid;
border-collapse: collapse;
}
th{
  height:50px;
  background-color:bisque;
}
td{
    padding:5px;
    height:30px;
    vertical-align: bottom;
    text-align: center;
}
td:hover{
    background-color:rgb(114, 84, 47)
    
}
#list1 li{
    list-style-position: inside;
    list-style-type:lower-roman;
    padding:2px;
}


#list2 li{
    display:inline;
   
  
}

a{
    text-decoration: none;
}
li #yt{
    background-color: red;
    color:white;
    padding:2px;
}
li #tweet{
    background-color: blue;
    color:white;
    padding:2px;
}
li #pin{
    background-color: brown;
    color: white;
    padding:2px;
}
 li #allstar{
    background-color: black;
    color:white;
    padding:2px;

 }
 li #movie{
    background-color: green;
    color:white;
    padding:2px;
 }

 li #movie:hover, li #allstar:hover, li #pin:hover, li #tweet:hover,  li #yt:hover{
    font-size: larger;
 }
#sticky{
    background-color:rgb(160, 85, 85);
    color:white;
    font-weight: bolder;
    font-size:large;
    text-align:center;
    width: 100%;
    height:50px;
    position: sticky;
    top:5px;

   }
#image-text{ /*div tag conatining everything regarding the image */
    margin-top:10px;
    position: relative; /* if moved, there will be a space left that is reserved for it that another element cannot fill*/

}
.image1{ /* now only the picture can be styled and excludes the text*/
 opacity: 0.5;
 width:200px;
 height:100px;
 
 

}

div #text1{  /*div conatining the text to be put on the image */
    position:absolute;/*can move anywhere within the relative container and reserves no space*/
    top:5px;
    left: 10px;
    color:white;
    text-shadow:3px 0px 5px black;
    font-family:Georgia;
   
}
#image2{
    right:5px;/*shifted 5px from the right margin edge of the body*/
    bottom:5px; /*shifted 5px from the bottom margin edge of the body*/
    position:absolute; /*means the element can move anywhere within the container and also reserves no space*/
    z-index:1; /*bigger stack number means that it ill be above the lement with the lower(#bigcontainer)*/
    width:150px; 
    height:151px;
    border-radius:50%;
    outline: 2px solid rgb(196, 137, 137);
}

/*I positioned #image2(above) inside #big-container and moved it relative to it*/

#table2{
    width: 110%;
    
   
}
#table2container{
    overflow: visible;
    
}

#center-this{
    border: 1px solid ;
    line-height:200px;
    height: 200px;
    text-align:center;
}
