
body{
    background-color: rgb(29, 18, 9);
}
header{
    text-align: center;
    text-transform:uppercase;
    background-color: rgb(150, 123, 88);
    padding:1px;
    

}
footer{
    text-align:center;
    font-weight: bold;
    background-color:rgb(150, 123, 88);
    padding:3px;
    position:fixed;
    bottom:0px;
    right:0px;
    width:100%;
    box-sixing: border-box;
    margin-top;5px;
    
}

main {
    display:flex;
    height: 600px;
    margin-top: 2px;
    color:rgb(5, 5, 5);
   margin-bottom: 5px;
}
.section1{
    
    background-color: rgb(235, 230, 225);
   flex:1;
  
}
.section2{
   
    background-color: rgb(230, 203, 176);
    padding:5px;
    flex:2;
}

h4{
    text-align: center;
}
.links{
     
    position: fixed;
    bottom: 100px;
    left: 20px;
    width: 200px;
    background-color: rgb(41, 23, 7);
    color:white;
    padding: 5px;

}
.frank{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.frank:hover{
    color: brown;
}