

#container{
  background-color: rgb(255, 255, 255);
  display:flex;
  width: 650px;
 
}
#buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}
.sign:hover{
  background-color: rosybrown;
}
.log:hover{
  background-color: rosybrown;
}
.guest:hover{
  background-color: rosybrown;
}


.box{
  margin:5px;
  background-color:rgb(110, 62, 62);
  padding:10px;
}
